html {
  margin: 0;
  padding: 1rem;
}

/* Dark theme styles applied when the data-theme attribute is "dark" */
[data-theme="dark"] {
  --bg-color: #2f2f2f;
  --text-color: #cecece;
  --btn-bg: #c1c1c1;
  --btn-text: #000000;
}

[data-theme="light"] {
  --bg-color: #fcfcfc;
  --text-color: #000000;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

ul li {
  list-style: none;
}

body {
  font-family: sans-serif;
  max-width: 768px;
  margin: auto;
}

main {
  min-height: 60vh;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#site-name {
  font-size: 1.2rem;
}

h1, section h2{
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#post-title {
  text-decoration: underline;
  color: var(--text-color);
}

p, button, a, time {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

p {
  line-height: 1.8rem;
}

footer {
  border-top: 1px solid var(--text-color);
  margin-top: 5rem;
}

a, button {
  color: blue;
  text-decoration: none;
}

a {
  background-color: #e3effa;
}

li a, h2 a {
  background-color: transparent;
}
nav {
  margin: none;
  padding: 0 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  overflow-x: scroll;
  padding-left: 0;
}

nav ul li {
  list-style: none;
  padding-right: 20px;
}

button {
  cursor: pointer;
}

#share-icon {
  font-size: 1.2rem;
  text-align: right;
}

.post-header {
  text-align: center;
}

.post-header-share {
  position: sticky;
  top: 0px;
  background-color: var(--bg-color);
  z-index: 100;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.shareButton {
  display: none;
}
